html,body{
  height:100%;
  width: 100%;
  background-color:#edf0ee;
  overflow-x hidden
}

.g-header{
  z-index 100
  position fixed
  top 0
}
.shooting-all{
  position absolute
  padding-right 0px
}
.map-container{
  width 100vw
  height 100vh
  position fixed
  top 50px
  left 0
}


#map{
  //position fixed;
  //left:0%;
  //top:6%;
  width: 100%;
  height: 100vh;
  /*background-color: #343332; #c8d2d3*/
  background-color: #c8d2d3;
}
#showYear{
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-family: 'BentonSans', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  color: black;
  opacity: 0.4;
  z-index: 1000;
}


.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info.leaflet-control{
  margin: auto;
  max-width: 350px;
  margin-top: 10px;
  margin-right: 10px;
}

.info h4 {
  margin: 0 0 5px;
  color: black;
  font-family:'BentonSans', Helvetica, Arial, sans-serif;
  font-size:1.3rem;
  line-height: 1.6rem;
  font-weight:bold;
  /*color: #3F98DC;*/
}
.info p{
  font-family: 'BentonSans', Helvetica, Arial, sans-serif;
  font-size:0.8rem;
  margin-top: 15px;
  line-height: 1.2rem;
}

.info p span{
  font-weight: bold;
}
/*.shootingCircle{*/
/*pointer-events: all;*/
/*}*/

.title{
  height: 100vh;
  width: 100vw;
  color: red;
  /*background-color: black;*/
  font-family: 'BentonSans', Helvetica, Arial, sans-serif;
  font-size: 5rem;
  padding-top: 20%;
  text-align: center;
}
.title .note div{
  font-family: 'BentonSans', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: white
}
.trigger{
  padding-top: 300px;
  min-height: 800px;
}

.contentsTrigger{
  //position: absolute;
  //top: 150%;
  z-index: 1000;
 // background: rgba(55, 55, 55, 0.6);
  padding: 10px;
  /*color: white*/
}
.spacer{
  padding-top: 300px;
  min-height: 800px;
}
.shooting-title{
  min-height 800px
  padding-top 200px
}
.graphichead, .subtitle, .shooting-content{
  background-color rgba(255, 255, 255, 0.6)
  padding 20px
}

.graphichead{
  font-size 3rem
  font-family Benton, Helvetica Neue, Helvetica, Arial, sans-serif
}
.subtitle{
  font-size 1.15rem
  font-family 'BentonSans', Helvetica, Arial, sans-serif
}
.shooting-content{
  font-size 1.15rem
  line-height 1.5rem
}

.info.leaflet-control{
  opacity: .6;
}
.countNum{
  font-family Miller
  font-weight 400
  color: red
}
  #spacer2{
    height 1000px;
  }

@media only screen and (max-width: 800px) {
  .trigger p{
  padding 10px
  background-color rgba(255, 255, 255, .4)
  }
  .info.leaflet-control{
    opacity: 0;
  }
}
.trigger span{
  font-size 1.4rem
  font-family Impact
}
  .trigger span.active{
    background-color rgba(255, 255, 20, .4)
  }
.col-md-9{
  padding-left 0
}
  .fixed{
    position fixed
  }