<div class="title">
    <div class="container">
        <div class="row countNum">
            <div class="col-lg-2 offset-lg-3" id="shootingCount">00</div>
            <div class="col-lg-2" id="killCount">000</div>
            <div class="col-lg-2" id="injureCount">0000</div>
        </div>
    </div>
    <div class="container">
        <div class="row note">
            <div class="col-lg-2 offset-lg-3"> MASS SHOOTINGS</div>
            <div class="col-lg-2">KILLED</div>
            <div class="col-lg-2">INJURED</div>
        </div>
    </div>

</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div id="map">
                <p id="showYear"></p>
            </div>
        </div>
        <div class="col-lg-3 wbackground">
            <div class="spacer" id="spacer0"></div>
            <div class="trigger" id="trigger0">There have been 94 mass shootings happened in 35 states since 1982, 60 of which happened after the assault weapons ban expired in 2004. </div>
            <div class="trigger" id="trigger1"> Califonia, Florida and Texas have seen the most mass shootings of all states in the US.
                There have been 15, 9, 8 mass shootings in each state respectively.
            </div>
            <div class="trigger" id="trigger2">The deadlies mass shooting since 1982 happened in Las Vegas on Oct. 1, 2017. <br/>
                Stephen Craig Paddock, 64, rained a barrage of rapid gunfire down on thousands of concertgoers on the Las Vegas Strip late on a Sunday night, firing from a corner suite on the 32nd floor of the Mandalay Bay Resort and Casino. Soon thereafter, he was found by law enforcement inside the hotel room, deceased from a self-inflicted gunshot wound.
            </div>
            <div class="trigger" id="trigger3">Use our powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system, five default responsive tiers, Sass variables and mixins, and dozens of predefined classes.</div>
        </div>
    </div>
</div>