<!--<div class="title">-->
    <!--<div class="container">-->
        <!--<div class="row countNum">-->
            <!--<div class="col-lg-2 offset-lg-3" id="shootingCount">00</div>-->
            <!--<div class="col-lg-2" id="killCount">000</div>-->
            <!--<div class="col-lg-2" id="injureCount">0000</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="container">-->
        <!--<div class="row note">-->
            <!--<div class="col-lg-2 offset-lg-3"> MASS SHOOTINGS</div>-->
            <!--<div class="col-lg-2">KILLED</div>-->
            <!--<div class="col-lg-2">INJURED</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->


<div class="container-fluid">
    <div class="row">
        <div class="map-container">
            <div id="map">
                <p id="showYear"></p>
            </div>
        </div>
        <div class="col-md-3 col-12 offset-md-9 shooting-all">
            <div class="shooting-title">
                <h1 class="graphichead">Mass Shootings <br/> in the US</h1>
                <p class="subtitle">Should we talk about gun control</p>
            </div>
            <div class="spacer" id="spacer0">
                <p class="shooting-content"> There have been 94 mass shootings happened in 35 states since 1982. The year of 2017 witnessed 9 mass shootings, including the Las Vegas Strip massacre which killed 58 concertgoers on October. </p>

            </div>
            <div class="trigger" id="trigger0">
                <p class="shooting-content">Among all the mass shootings,<span> 60 </span> happened after the assault weapons ban expired in 2004. </p>
            </div>
            <div class="trigger" id="trigger0_1">
                <p class="shooting-content">It has been verified that, on 68 incidents, shooters got their weapons legally, though <span>40</span> of them had shown signs of mental health issues. </p>
            </div>
            <!--<div class="trigger" id="trigger0_2">-->
                <!--<p><span>Workplace and schools</span> have seen the most mass shootings of all venues.-->
                    <!--There have been 28, 15 mass shootings respectively.-->
                <!--</p>-->
            <!--</div>-->
            <div class="trigger" id="trigger1">
                <p class="shooting-content"><span>Califonia, Florida and Texas</span> have seen the most mass shootings of all states in the US.
                There have been 15, 9, 8 mass shootings in each state respectively.
                </p>
            </div>
            <div class="trigger" id="trigger1_2">
                <p class="shooting-content">In <span>New England</span>, there had been four mass shootings, three in Connecticut.
                </p>
            </div>
            <div class="trigger" id="trigger2">
                <p class="shooting-content">The deadlies mass shooting since 1982 happened in <span>Las Vegas</span> on Oct. 1, 2017. </br></br>
                Stephen Craig Paddock, 64, rained a barrage of rapid gunfire down on thousands of concertgoers on the Las Vegas Strip late on a Sunday night, firing from a corner suite on the 32nd floor of the Mandalay Bay Resort and Casino. Soon thereafter, he was found by law enforcement inside the hotel room, deceased from a self-inflicted gunshot wound.
                </p>
            </div>
            <div class="trigger" id="trigger3">
                <p class="shooting-content">See the <span>whole</span> pictures. Hover on the circles to see details.</p>
            </div>
            <div class="spacer" id="spacer2"></div>

        </div>
    </div>
</div>